@import url('https://fonts.googleapis.com/css2?family=Jolly+Lodger&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Jolly Lodger", Arial, Helvetica, sans-serif;
}

body {
    background-color: #2b2c2e;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.inventory {
    width: 100%;
    height: 20vh;
    background-color: #464749;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    overflow-x: auto;
}

.slot {
    height: 100%;
    aspect-ratio: 1;
    position: relative;
    background-color: #6d6f74;
    border-radius: 20%;
    cursor: pointer;
}

.slot.selected {
    background-color: #8d9096;
}

.slot b {
    z-index: 2;
    position: absolute;
    top: 10%;
    left: 12%;
    color: #ebebeb;
    font-size: 2em;
}

.slot img {
    position: absolute; 
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 70%;
    height: 70%;

}

::-webkit-scrollbar {
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #2b2c2e;
    border-radius: 4px;
}

img {
    image-rendering: pixelated;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.item-view {
    position: absolute;
    top: 0;
    left: 0;
    height: 80vh;
    width: 100%;
    color: #ebebeb;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
    z-index: 100;
}

.item-view-close, .object-modal-close {
    color: #ebebeb;
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 3em;
    cursor: pointer;
}

.item-view-image {
    height: 50vh;
}

.item-view-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 50vh;
    gap: 20px;
}

.item-view-name {
    font-size: 3em;
    font-weight: bold;
}

.item-view-description {
    font-size: 1.5em;
}

.key-prompts {
    position: absolute;
    bottom: 20vh;
    left: 10px;
    color: #ebebeb;
    font-size: 1.2em;
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    z-index: 200;
}

.key-prompt {
    display: none;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-weight: bold;
}

.key-prompt-key {
    background-color: #6d6f74;
    display: grid;
    place-items: center;
    width: 35px;
    height: 35px;
    border-radius: 10px;
    border: 2px solid #464749;
}

.room-navigation {
    position: absolute;
    height: 80vh;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 75px;
    z-index: 5;
    pointer-events: none;
}

.room-navigation-arrow {
    font-size: 3em;
    translate: -50%;
    color: #ebebeb;
    cursor: pointer;
    user-select: none;
    transition: font-size 0.2s;
    pointer-events: all;
}

.room-navigation-right {
    translate: 50%;
}

.room-navigation-arrow:hover {
    font-size: 4em;
}

.room {
    position: relative;
    height: 80vh;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 1;
}

.timer {
    position: absolute;
    top: 10px;
    left: 50%;
    translate: -50%;
    color: #ff5959;
    font-size: 2.5em;
    z-index: 8;
    pointer-events: none;
}

.room-image {
    position: absolute;
    left: 50%;
    translate: -50%;
    height: 80vh;
    width: 177.7777vh;
    image-rendering: pixelated;
}

.room-darkness {
    z-index: 3;
    position: absolute;
    left: 50%;
    translate: -50%;
    height: 80vh;
    width: 177.7777vh;
    image-rendering: pixelated;
    pointer-events: none;
}

.room-object {
    position: absolute;
    left: 50%;
    height: 80vh;
    width: auto;
    max-width: 100%;
    image-rendering: pixelated;
    z-index: 2;
    cursor: pointer;
}

.room-selected {
    display: none;
    position: absolute;
    left: 50%;
    translate: -50%;
    height: 80vh;
    width: 177.7777vh;
    image-rendering: pixelated;
    pointer-events: none;
    z-index: 4;
}

.object-modal {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 80vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 11;
}

.object-modal-close {
    cursor: pointer;
    z-index: 11;
}

.object-image {
    height: 70vh;
}

.room-object[data-object="plant-right"] {
    display: none;
}

.safe-inputs {
    color: #ebebeb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    font-size: 2em;
    margin-left: 20px;
}

.safe-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.safe-number {
    font-size: 1.5em;
}

.fa-chevron-left, .fa-chevron-right {
    cursor: pointer;
}