* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #2b2c2e;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.inventory {
    width: 100%;
    height: 20vh;
    background-color: #464749;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    overflow-x: auto;
}

.slot {
    height: 100%;
    aspect-ratio: 1;
    position: relative;
    background-color: #6d6f74;
    border-radius: 20%;
    cursor: pointer;
}

.slot.selected {
    background-color: #8d9096;
}

.slot b {
    z-index: 2;
    position: absolute;
    top: 10%;
    left: 12%;
    color: #ebebeb;
    font-size: 2em;
}

.slot img {
    position: absolute; 
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 70%;
    height: 70%;

}

::-webkit-scrollbar {
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #2b2c2e;
    border-radius: 4px;
}

img {
    image-rendering: pixelated;
}

.item-view {
    position: absolute;
    height: 80vh;
    width: 100%;
    color: #ebebeb;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.item-view-close {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 3em;
    cursor: pointer;
}

.item-view-image {
    height: 50vh;
}

.item-view-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 50vh;
    gap: 20px;
}

.item-view-name {
    font-size: 3em;
    font-weight: bold;
}

.item-view-description {
    font-size: 1.5em;
}

.key-prompts {
    position: absolute;
    bottom: 20vh;
    left: 10px;
    color: #ebebeb;
    font-size: 1.2em;
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.key-prompt {
    display: none;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-weight: bold;
}

.key-prompt-key {
    background-color: #6d6f74;
    display: grid;
    place-items: center;
    width: 35px;
    height: 35px;
    border-radius: 10px;
    border: 2px solid #464749;
}